---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <div class="mt-14">
        <h1 class="text-3xl font-bold">Contact</h1>
        <p class="mt-4">
            You can contact me at <a href="javier.ie" class="text-blue-500"
                >javier@javier.ie</a>
        </p>
        <p>Or you can fill in this form to send me an email</p>
        <form class="mt-4">
            <label for="name" class="block">Name</label>
            <input
                type="text"
                id="name"
                name="name"
                class="w-full border border-gray-300 rounded p-2"
            />
            <label for="email" class="block mt-4">Email</label>
            <input
                type="email"
                id="email"
                name="email"
                class="w-full border border-gray-300 rounded p-2"
            />
            <label for="subject" class="block mt-4">Subject</label>
            <input
                type="text"
                id="subject"
                name="subject"
                class="w-full border border-gray-300 rounded p-2"
            />
            <label for="message" class="block mt-4">Message</label>
            <textarea
                id="message"
                name="message"
                class="w-full border border-gray-300 rounded p-2"></textarea>
            <button
                type="submit"
                class="mt-4 bg-blue-500 text-white rounded p-2">Send</button
            >
        </form>
    </div>
</Layout>
