---
import Layout from "../layouts/Layout.astro";
---

<Layout title="javier.ie">
    <div
        class="flex flex-col gap-4 min-h-screen w-full items-center justify-center select-none px-4"
    >
        <h1 class="text-3xl md:text-5xl font-bold">👋 Hi, I'm Javier</h1>
        <p class="text-2xl text-gray-300 italic text-center">
            I'm a software engineer and cyber security researcher based in Ireland.
        </p>
        <div
            class="translate-y-8 hover:cursor-pointer hover:shadow-xl duration-300"
            id="read_more_btn"
        >
            <div
                class="py-2 px-4 text-gray-300 rounded-full border-2 border-white flex items-center"
            >
                <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 256 512"
                    height="25px"
                    width="25px"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M168 345.941V44c0-6.627-5.373-12-12-12h-56c-6.627 0-12 5.373-12 12v301.941H41.941c-21.382 0-32.09 25.851-16.971 40.971l86.059 86.059c9.373 9.373 24.569 9.373 33.941 0l86.059-86.059c15.119-15.119 4.411-40.971-16.971-40.971H168z"
                    ></path>
                </svg>
                <span class="text-lg z-40">Read more!</span>
            </div>
        </div>
    </div>
    <div
        class="flex flex-col gap-4 min-h-screen border-t border-white w-full items-center select-none pt-8 mb-20"
    >
        <h1 class="text-3xl font-bold mb-12">🔨 What I do</h1>
        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-6 w-3/4 *:p-4 *:border *:border-gray-700 *:rounded-xl"
        >
            <div class="flex flex-col gap-2">
                <h2 class="text-2xl font-bold">🕵️ Pentesting</h2>
                <p class="text-gray-300">
                    I perform penetration tests on web applications, APIs, and
                    networks to identify vulnerabilities and help secure
                    systems.
                </p>
                <div
                    class="text-gray-300 grid grid-cols-2 md:grid-cols-5 gap-2 place-content-center mt-4 *:py-1 *:px-2 *:border-2 *:border-white *:rounded-xl *:text-center"
                >
                    <p>Linux</p>
                    <p>Windows</p>
                    <p>Android</p>
                    <p>Web</p>
                    <p>Crypto</p>
                    <p>Forensics</p>
                    <p>Rev</p>
                </div>
                <p class="text-gray-600 ml-0 italic">and more!</p>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="text-2xl font-bold">🖥️ Development</h2>
                <p class="text-gray-300">
                    I develop web applications and APIs using modern
                    technologies like the following.
                </p>
                <div
                    class="text-gray-300 grid grid-cols-2 md:grid-cols-5 gap-2 place-content-center mt-4 *:py-1 *:px-2 *:border-2 *:border-white *:rounded-xl *:text-center"
                >
                    <p>Node.js</p>
                    <p>React</p>
                    <p>Next.js</p>
                    <p>PostgreSQL</p>
                    <p>Python</p>
                    <p>Rust</p>
                    <p>Go</p>
                </div>
                <p class="text-gray-600 ml-0 italic">and more!</p>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="text-2xl font-bold">📚 Learning</h2>
                <p class="text-gray-300">
                    I'm always learning new things, whether it's a new
                    technology, a new programming language, or a new skill.
                </p>
                <div
                    class="text-gray-300 grid grid-cols-2 md:grid-cols-5 gap-2 place-content-center mt-4 *:py-1 *:px-2 *:border-2 *:border-white *:rounded-xl *:text-center"
                >
                    <p>AI</p>
                    <p>Physics</p>
                    <p>Math</p>
                    <p>Philosophy</p>
                    <p>Psychology</p>
                    <p>Hardware</p>
                </div>
                <p class="text-gray-600 ml-0 italic">and more!</p>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="text-2xl font-bold">🎮 Skills</h2>
                <p class="text-gray-300">
                    I have experience with a variety of tools and technologies
                    that help me in my work and personal projects, as well as
                    social skills to go along with it
                </p>
                <div
                    class="text-gray-300 grid grid-cols-1 md:grid-cols-3 gap-2 place-content-center mt-4 *:py-1 *:px-2 *:border-2 *:border-white *:rounded-xl *:text-center"
                >
                    <p>Leadership</p>
                    <p>Communication</p>
                    <p>Problem Solving</p>
                    <p>Teamwork</p>
                    <p>Time Management</p>
                    <p>Adaptability</p>
                </div>
                <p class="text-gray-600 ml-0 italic">and more!</p>
            </div>
        </div>
    </div>
    <div
        class="my-12 flex flex-col gap-4 border-t border-white w-full items-center select-none py-8 h-fit"
    >
        <h1 class="text-3xl font-bold mb-12">📚 Projects</h1>
        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-6 w-3/4 *:p-4 *:border *:border-gray-700 *:rounded-xl"
        >
            <div class="flex flex-col gap-2">
                <a
                    href="https://github.com/CaraTortu/team_project_2024"
                    target="_blank"
                    class="text-2xl font-bold flex items-start"
                >
                    <p>GP Booking system</p>
                    <svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="0"
                        viewBox="0 0 24 24"
                        height="20px"
                        width="20px"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.5253 5.49475L10.5206 7.49475L15.0782 7.50541L5.47473 17.0896L6.88752 18.5052L16.5173 8.89479L16.5065 13.5088L18.5065 13.5134L18.5253 5.51345L10.5253 5.49475Z"
                            fill="currentColor"></path>
                    </svg>
                </a>
                <p class="text-gray-300">
                    A booking system for a GP practice that allows patients to
                    book appointments online and receive reminders, as well as
                    allowing doctors to manage their appointments.
                </p>
                <div
                    class="text-gray-300 grid grid-cols-2 md:grid-cols-5 gap-2 place-content-center mt-4 *:py-1 *:px-2 *:border-2 *:border-white *:rounded-xl *:text-center"
                >
                    <p>Node.js</p>
                    <p>React</p>
                    <p>Next.js</p>
                    <p>tRPC</p>
                    <p>PostgreSQL</p>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <a
                    href="https://github.com/CaraTortu/javrdis"
                    target="_blank"
                    class="text-2xl font-bold flex items-start"
                >
                    <p>Jarvdis</p>
                    <svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="0"
                        viewBox="0 0 24 24"
                        height="20px"
                        width="20px"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.5253 5.49475L10.5206 7.49475L15.0782 7.50541L5.47473 17.0896L6.88752 18.5052L16.5173 8.89479L16.5065 13.5088L18.5065 13.5134L18.5253 5.51345L10.5253 5.49475Z"
                            fill="currentColor"></path>
                    </svg>
                </a>
                <p class="text-gray-300">
                    A clone of redis written in Rust, with a focus on
                    performance and security. (Work in progress)
                </p>
                <div
                    class="text-gray-300 grid grid-cols-2 md:grid-cols-5 gap-2 place-content-center mt-4 *:py-1 *:px-2 *:border-2 *:border-white *:rounded-xl *:text-center"
                >
                    <p>Rust</p>
                    <p>Tokio</p>
                    <p>Raw TCP</p>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <a
                    href="https://github.com/CaraTortu/AI_CA2"
                    target="_blank"
                    class="text-2xl font-bold flex items-start"
                >
                    <p>AI Cancer detection</p>
                    <svg
                        stroke="currentColor"
                        fill="none"
                        stroke-width="0"
                        viewBox="0 0 24 24"
                        height="20px"
                        width="20px"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10.5253 5.49475L10.5206 7.49475L15.0782 7.50541L5.47473 17.0896L6.88752 18.5052L16.5173 8.89479L16.5065 13.5088L18.5065 13.5134L18.5253 5.51345L10.5253 5.49475Z"
                            fill="currentColor"></path>
                    </svg>
                </a>
                <p class="text-gray-300">
                    An AI model capable of classifying images of malignant or
                    bening tumours with a high accuracy of >=95%.
                </p>
                <div
                    class="text-gray-300 grid grid-cols-2 md:grid-cols-5 gap-2 place-content-center mt-4 *:py-1 *:px-2 *:border-2 *:border-white *:rounded-xl *:text-center"
                >
                    <p>Python</p>
                    <p>Scikit-learn</p>
                    <p>Matplotlib</p>
                    <p>Seaborn</p>
                </div>
            </div>
            <script>
                const scroll_button = document.getElementById(
                    "read_more_btn",
                ) as HTMLDivElement;

                window.addEventListener("scroll", () => {
                    if (window.scrollY > 0) {
                        scroll_button.classList.add("opacity-0");
                    } else {
                        scroll_button.classList.remove("opacity-0");
                    }
                });

                scroll_button.addEventListener("click", () => {
                    window.scrollTo({
                        top: window.innerHeight - 30,
                        behavior: "smooth",
                    });
                });
            </script>
        </div>
    </div>
</Layout>
